[2017-08-15 19:51] aweigold opened #1 "Continuous Integration"
Configure on Travis CI

[2017-08-15 19:51] aweigold opened #2 "Javadoc"
Pull in documentation from REST API into JavaDoc.

[2017-08-15 19:52] aweigold opened #3 "SDK Allignment"
Align the API closer to the .NET SDK.

- Endpoint URLs  (for both preview and production) – should be hardcoded directly in the SDK. You can check out how we do it in the .NET SDK. See the [configuration](https://github.com/Kentico/delivery-sdk-net/blob/master/KenticoCloud.Delivery/Configuration/DeliveryOptions%20.cs) and [DeliveryClient constructors](https://github.com/Kentico/delivery-sdk-net/bl

[2017-08-15 19:52] aweigold opened #4 "Expand unit tests"

[2017-08-15 19:53] aweigold opened #5 "Add support for mapping to custom models."

[2017-08-15 19:53] aweigold opened #6 "Include Spring Boot sample project"

[2017-08-15 19:54] aweigold opened #7 "Register account with Maven Central to deploy artifacts."

[2017-08-15 19:55] aweigold commented on #7
This is currently blocked until we figure out if trustedchoice.com or kenticocloud.com is responsible for this.

[2017-08-28 19:36] aweigold opened #8 "HttpClient connection management"
The default HttpClient probably only has 2 connections per host in it's pool.  Create more adequate defaults as well as a pattern for customization.

See this [link](http://www.baeldung.com/httpclient-connection-management).

[2017-08-28 19:36] #1 closed

[2017-08-28 23:12] aweigold commented on #7
Ticket has been opened to create repository on Maven Central.

https://issues.sonatype.org/browse/OSSRH-34169

[2017-08-29 14:40] aweigold opened #9 "Add ISO 8601 DateTime support"

[2017-08-29 14:48] #9 closed

[2017-08-30 18:23] aweigold opened #10 "Improve Pagination Support"
Add support or utility functions to ease use of pagination objects.

[2017-08-30 18:48] aweigold opened #11 "Populate the type field on Elements after deserialization"

[2017-08-30 19:51] aweigold opened #12 "Invalid ISO 8601 last_modified in ContentTypes response example"
The example JSON on the Kentico API site shows a last_modified date as "1. 1. 0001 0:00:00", which fails ISO 8601 DateTime parsing.

Try to reproduce this with the actual API and add support if it's valid.  Otherwise reach out to Kentico to update docs.

[2017-08-31 00:11] #11 closed

[2017-08-31 00:11] #7 closed

[2017-08-31 00:11] aweigold commented on #12
Real API doesn't seem to produce this.

[2017-08-31 00:55] aweigold commented on #4
Code coverage is now at 99.6%.  Closing issue as new code should include unit tests.

[2017-08-31 00:55] #4 closed

[2017-08-31 01:00] aweigold commented on #3
Configuration and Link resolution is done.

Still todo:
* Rich-text modular content resolution
* Strongly-typed models support
* Code generators

[2017-09-01 12:40] petrsvihlik commented on #12
@aweigold shall we update the docu? Where exactly did you see it?

[2017-09-01 14:14] aweigold commented on #12
The example response here:
https://developer.kenticocloud.com/v1/reference#list-content-types

[2017-09-01 19:50] aweigold opened #13 "Add helper methods to ContentItem for easier retrieving of element values"
See https://github.com/Kentico/delivery-sdk-net/blob/master/README.md#getting-element-values

[2017-09-01 20:19] aweigold opened #14 "Add Caching interface to allow injection of cache manager directly into the DeliveryClient"

[2017-09-02 00:05] #13 closed

[2017-09-03 15:03] petrsvihlik commented on #12
Submitted to our TWs, they'll fix it soon.
Btw - you can suggest edits to the documentation by clicking "Suggest edits" link at each chapter. Signing up is open for everyone.

[2017-09-03 15:04] petrsvihlik commented on #12
I think we can close this issue now, right?

[2017-09-03 18:08] aweigold commented on #12
I'll close it... I knew I could submit it there, but was just not thinking of that... plus my initial reaction was that I was perhaps doing something wrong.  Thanks @petrsvihlik !

[2017-09-03 18:08] #12 closed

[2017-09-04 01:10] #5 closed

[2017-09-04 01:12] aweigold opened #15 "Add support for runtime type resolution of strongly typed models"
Implementation of this should allow to provide either a registration method for strongly typed models or classpath scanning for automatic discovery of them.

[2017-09-04 01:13] aweigold commented on #3
Strongly typed models support is enabled with resolution of #5

[2017-09-04 01:15] aweigold opened #16 "Support resolution of modular content in strongly typed models recursively"
Currently the code is configured to not pass reference to the ModularContent map when mapping models past the root to avoid infinite recursion of nested types.

[2017-09-04 01:17] aweigold opened #17 "Create mapping plan construct for strongly typed models"
Currently strongly typed model conversion relies on extensive reflection that may potentially be a bottleneck when placed in a high performance system.  Introduction of a plan construct would allow caching of this after the first resolution of a mapping.

[2017-09-04 16:08] aweigold opened #18 "Allow @ContentItemMapping to be optional when mapping List<T> or Map<String, T> Modular Content"
Some care needs to be done to ensure that if the conversion fails, that the exception is caught to allow Lists and Maps that are not referencing modular content from halting the process.

[2017-09-04 16:09] aweigold commented on #2
Currently the javadoc is incomplete, and frequently is of low quality.

[2017-09-05 22:20] aweigold opened #19 "Add logging"
Use SLF4J fascade to not burden users with any particular logging framework.

[2017-09-05 23:27] #15 closed

[2017-09-05 23:38] #18 closed

[2017-09-05 23:40] aweigold commented on #3
Rich-text modular content resolution is now supported, but can be improved with #16 .  Going to make a separate issue for code generators so this issue can be closed.

[2017-09-05 23:40] #3 closed

[2017-09-05 23:41] aweigold opened #20 "Create Code Generator leveraging the content type API."
This should include a Java main method, as well as Gradle and Maven plugins.

[2017-09-06 00:30] #16 closed

[2017-09-06 01:31] #14 closed

[2017-09-11 07:16] petrsvihlik opened #21 "Add Taxonomy endpoint"
There is a new endpoint for retrieving taxonomy groups:

Docu: https://developer.kenticocloud.com/v1/reference#list-taxonomy-groups

.NET SDK: https://github.com/Kentico/delivery-sdk-net/pull/72

[2017-09-11 07:29] petrsvihlik opened #22 "Add code examples to Developer Hub"
**Blocked: Waiting for a 1.0 release**

https://developer.kenticocloud.com/v1/reference

We can extend the code boxes with another language tab - Java.

Internal reference: CTC-71

[2017-09-11 16:03] #21 closed

[2017-09-11 16:13] petrsvihlik commented on #21
man, you are fast :D

(btw i'll send you an email later today)

[2017-09-11 23:11] aweigold commented on #8
I increased the default from 2 to 20, however have not put in a pattern for customization yet.

20 is a bit of a magic number... any thoughts @petrsvihlik ?

[2017-09-12 13:58] petrsvihlik commented on #8
@aweigold What if there'll be 5k requests coming to the site? Why not set it to more? Are there any downsides?

[2017-09-12 14:28] aweigold commented on #8
I almost set it to 100 for that reason @petrsvihlik ... The downside is someone shooting themselves in the foot with their CPU when they should be caching your responses... but that said, the OS should free the proc when the thread is blocking on an http response.

The default total pool size for the Apache HttpClient I'm using was 20, so I just carried over their thinking to the host limitation.

[2017-09-12 14:32] aweigold commented on #8
I'm just going to check in a set method quick... that way there is a failsafe...

[2017-09-13 08:43] petrsvihlik commented on #8
@aweigold all makes sense to me, i think we can close this one. thanks

[2017-09-13 08:43] #8 closed

[2017-09-15 12:39] aweigold commented on #20
Closing as issue tracking is done on the cloud-generators-java repo https://github.com/Kentico/cloud-generators-java

[2017-09-15 12:39] #20 closed

[2017-09-15 12:44] aweigold commented on #6
Closing as issue tracking will be done on the cloud-spring-boot repo https://github.com/Kentico/cloud-spring-boot

[2017-09-15 12:44] #6 closed

[2017-09-15 15:26] aweigold opened #23 "Strongly Typed Content Item Converter does not support mapping name from an Option"
If an Option is mapped to a field, the name from the option should be used.

[2017-09-16 14:37] aweigold opened #24 "Strongly Typed Content Item Converter does not support injecting System"

[2017-09-16 14:38] aweigold commented on #17
Initial testing shows that this conversion happens sub millisecond... closing

[2017-09-16 14:38] #17 closed

[2017-09-19 14:47] jordangerads opened #25 "Bug: InlineContentItemsResolver resolve method is package private"
Resolve method should be protected, not package private.

[2017-09-19 15:01] #24 closed

[2017-09-19 15:02] aweigold commented on #25
Making this public, not protected, to ease unit testing for consumers.

[2017-09-19 15:06] #25 closed

[2017-09-19 22:01] #10 closed

[2017-09-20 20:47] aweigold opened #26 "Downgrade Apache HttpClient or switch to Java URLConnection for Android compatibility"
Further information: https://hc.apache.org/httpcomponents-client-4.3.x/android-port.html

[2017-09-20 21:25] aweigold commented on #26
A better solution to this actually is to create a shadow jar.  I have this complete on my workstation using: http://imperceptiblethoughts.com/shadow/

Just need to generate a different POM for it, then will release it as an additional artifact of 1.0.1

[2017-09-25 10:41] petrsvihlik commented on #22
Done by @JanLenoch

[2017-09-25 10:41] #22 closed

[2017-09-25 17:10] aweigold opened #28 "Provide DeliveryParameterBuilder.language(Locale language) method"
The parameter builder expects a string showing a Locale represented as "es-ES", build in support to allow a standard Java Locale to be passed in and perform conversion automatically.

[2017-09-27 15:01] petrsvihlik commented on #19
agreed

[2017-09-27 22:26] cunhazera commented on #28
@aweigold is there someone working on it?

[2017-09-28 13:12] aweigold commented on #28
@cunhazera I can get it in today... easy task

[2017-09-28 13:13] cunhazera commented on #28
@aweigold can you check the pull request referenced here?
I could not solve that build problem

[2017-09-28 13:15] aweigold commented on #28
@cunhazera I just saw the PR after I already commented.  I'm looking at the build issue right now.  There are some encrypted passwords/keys for deployment that travis does not expose in PR builds, it looks like I didn't condition to not try deploys on PRs.

[2017-09-28 13:21] cunhazera commented on #28
Ok, I wait for your response.
And please let me know if anything in the PR is not as you expected.

[2017-09-28 13:28] aweigold opened #31 "Place decryption of key tar into a bash script that is conditioned not to run in a PR build."
Travis CI does not perform decryption during PR builds to protect an attacker from changing a build script to expose their values.

[2017-09-28 14:10] #31 closed

[2017-09-28 14:40] GaruGaru commented on #19
I'd like to work on this feature, in which components would you like to add logging  ?

[2017-09-28 15:09] aweigold commented on #19
I think a good starter would be to log errors when throwing exceptions, and trace logs with timers for hitting the web API and cache.  I would also add debug logs all over the StronglyTypedContentItemConverter.

To add a dependency to SLF4J, you will want to add it to the build.gradle file.  I would do some research on the best version to peg to, as well as if it should be a compile dependency or

[2017-09-28 15:13] aweigold commented on #26
I will take this one on, I have a general idea on how to make this work already.

[2017-09-28 16:01] cunhazera commented on #28
@aweigold I think that the issue can be closed now, right?

[2017-09-28 16:06] GaruGaru commented on #19
Thank you for the exhaustive explanation, luckly i've already worked with logback in other projects and i agree that it seems an optimal solution.

Reading the [FAQ](https://www.slf4j.org/faq.html)  looks like if the compile scope is the right approach as a library:

Given that your library's code depends on the SLF4J API, you will need to declare slf4j-api as a compile-time (default scope) depend

[2017-09-28 16:07] cunhazera commented on #23
@aweigold can you give some example of how to reproduce the bug?

[2017-09-28 18:03] aweigold commented on #19
IMHO I have seen many unit tests that have used mockito (or another mocking library) to test logging, and they all have turned to garbage over time.  I would avoid adding tests for logging unless we have some sort of custom logging level/event.  That said, I would understand the sentiment to add a unit test for new features.  I'll let you make an educated decision on what you want to do with it.

[2017-09-28 18:07] aweigold commented on #23
This came from me working with the API and finding that Options (and Assets for that matter) don't provide a good way to simply map to a string in a strongly typed model.  I could see it being useful for someone to just have a field set based on an option being set, without exposing the user to having to use the Option class.  For example, if the option is a radio button, it would make sense to ju

[2017-09-28 18:08] aweigold commented on #28
@cunhazera yes it can, I'll close it now.  Good work.

[2017-09-28 18:08] #28 closed

[2017-09-29 13:43] aweigold opened #33 "Provide .castTo(String contentType) and .castToDefault() on ContentItem"
A ContentItem allows casting to Class<T> which looks up a registered type from the StronglyTypedContentItemConverter.  When working within a view template in various rendering technologies, creating a Class reference may be overly verbose, when could do this via String due to the contentTypeToClassMapping within it.

Ideally, a consumer could do something like this from within a template:
[code]

[2017-09-30 14:54] #33 closed

[2017-09-30 20:11] aweigold opened #34 "Support conversion of a ModularContentElement to a List or Map of just those ContentItems"

[2017-09-30 21:16] #34 closed

[2017-10-01 20:51] #26 closed

[2017-10-01 20:55] aweigold opened #35 "Shadow Joda or another library to implement JSR-310 time dependencies"
Currently the Java SDK uses Java 8 ZonedDateTime objects.  This depends on Duration which doesn't exist in the Android API until version 26 (which less than 1% of devices are on).

Explore adding Joda or another library into the shadow jar created for Android to provide the JSR-310 java.time API and identify the lowest Android API compatible with it.  If the API compatibility is still > 19, create

[2017-10-02 10:25] petrsvihlik commented on #23
You're right, such functionality is not present in the [.NET SDK](https://github.com/Kentico/delivery-sdk-net).

But let's say you wanted to render radio buttons - wouldn't you use `Option.name` for labels and `Option.codename` for ids?

`<input type="radio" name="groupname" value="Option.codename" />Option.name<br>`

[2017-10-02 13:33] aweigold commented on #23
@petrsvihlik I think the usage of Option is fine, and probably could change this from a 'bug' to 'enhancement'.  It all goes back to if we want to require a consumer to use our object model.  I would beg the question "What's the difference between allowing a StronglyTyped ContentItem versus a StronglyTyped Option or Asset?"

In the end, I don't really care that much, we could close this as well. 😄

[2017-10-02 15:43] petrsvihlik commented on #23
right :) let's change it to enhancement...that should be enough for now :)

[2017-10-05 13:48] jordangerads opened #36 "Create a general RichText transformer (similar to link resolver)"

[2017-10-05 13:51] petrsvihlik commented on #36
Similarly to:
 - .NET SDK - [code](https://github.com/Kentico/delivery-sdk-net/tree/master/KenticoCloud.Delivery/InlineContentItems) + [documentation](https://github.com/Kentico/delivery-sdk-net/wiki/Structured-Rich-text-rendering)

DoD:
- unit (and/or e2e) tests
- documentation (code examples in the readme or dedicated gh wiki page)

[2017-10-05 14:21] aweigold opened #37 "Add ViewResolver/Rendering Interface"
It may not be immediately clear to consumers of the SDK how to link their InlineContentItemsResolver to their View Rendering library of choice.  Provide an interface that can abstract the implementation to allow choice for consumers.

Furthermore add a Thymeleaf implementation that will check the classpath first for the dependency, and if it exists run the engine, but do not make it a required dep

[2017-10-05 14:25] aweigold commented on #37
For information on making compile only dependencies, see this: https://blog.gradle.org/introducing-compile-only-dependencies

[2017-10-05 19:46] aweigold commented on #36
I have the heart of what's needed for this complete now... and will merge to master shortly.  This will be available in 1.0.5-SNAPSHOT

As far as using structured content, I will either implement something that will scan the classpath for JSoup to do this, or write up a wiki explaining how to use JSoup for this, as not to handcuff consumers to that library.

[2017-10-05 20:03] #36 closed

[2017-10-05 21:19] aweigold commented on #19
Thanks for the help @GaruGaru !!!!

[2017-10-05 21:19] #19 closed

[2017-10-08 21:46] aweigold commented on #37
Closing this issue.  @petrsvihlik I'll work on the wiki for this hopefully sometime this week, and release a 1.0.5 release.  With this issue complete, if the [Thymeleaf library](http://www.thymeleaf.org/) is on the classpath, it will automatically look for html fragment templates named the same as a content type codename, and resolve them for you (allowing html to be separate from code, unlike the

[2017-10-08 21:46] #37 closed

[2017-10-10 09:33] petrsvihlik commented on #37
Sounds great! It seems like an analogy to: https://github.com/Kentico/delivery-sdk-net/wiki/Structured-Rich-text-rendering right?

[2017-10-10 13:48] aweigold commented on #37
Correct, it is analogous to to the .Net MVC portion, but not the structured rich text element itself.

[2017-10-27 09:28] Enngage opened #41 "Strongly typed nested modular items"
Hey,

I was going through the code and it seems that modular items nested within a strongly typed class can be only of generic `ContentItem ` item. This can be seen for example with the 'relatedArticles' property in this [sample class](https://github.com/Kentico/delivery-sdk-java/blob/master/src/test/java/com/kenticocloud/delivery/ArticleItem.java).

It would be nice so that you could define stron

[2017-10-27 13:29] aweigold commented on #41
Hi,

Unless there is a false positive in the `DeliveryClientTest` class, take a look at `testGetStronglyTypedItem()`.  You'll see that we test against the implicit binding against `List<ArticleItem> articleItems`.  This should work with an explicit annotation as well.

That said, if you are using the code generators, there is not enough information in the typing API to make these assertions, so ge

[2017-10-28 12:15] luan-cestari commented on #35
Hi, I created a PR #42 for to change asked.  There is https://github.com/dlew/joda-time-android which seems better for android but for SDK it would require the client of SDK to set Joda in the Application onCreate method, so I choose the original Joda dependency

[2017-10-28 20:46] aweigold commented on #35
I commented on the PR.  I'll also update the description of this ticket based on our findings.  Thanks for the help!

[2017-10-30 07:48] Enngage commented on #41
Thanks for the response! I'm not sure I see such a test in `testGetStronglyTypedItem ` that would test if the 'related_articles' items are indeed of `ArticleItem` type.

My goal would be to verify that you can replace

[code]

with

[code]

and get the `ArticleItem `typed objects and be able to further traverse through the modular content items.

If thats how it works, then feel free to close the

[2017-10-30 12:33] aweigold commented on #41
The SDK will implicitly map `relatedArticles` to `related_articles`, the annotation is optional.  Adding the annotation is perfectly acceptable.

[2017-10-30 12:49] Enngage commented on #41
I'm not talking about annotations, see the examples above. What I mean is that I as a developer might want to access modular content that is embedded within an item in a strongly typed manner.

Suppose I have types `Blog `and `Post`. In `Blog` post type I would like to define property `posts` that will contain **strongly typed** objects of `Post` type:

[code]
Now, if I query for `Blog` item, I ex

[2017-10-30 13:58] aweigold commented on #41
I think there is some confusion here.  Let me try to address it better.

Mapping elements and modular content can be done implicitly by the field name, or explicitly by the annotation.  The unit test I referenced at the beginning does this implicitly, as there is no annotation.  That said however, the strongly typed modular content is injected, showing support for this.

Feel free to make a mappin

[2017-10-30 15:09] Enngage commented on #41
Yeah, I think there is :) I setup following scenario:

[code]
And then used it like:

[code]

The point is that you should be able to use `ArticleTest` as a property instead of the generic `ContentItem`. Does it make sense now? :)

[2017-10-31 11:06] JanLenoch opened #43 "Add support for secured access to published (production) content"
In coming weeks, the Delivery API will start supporting authenticated access.

In the first version of this feature, content will be secured using an API key. The developer will be able to turn the authenticated access on and off for the whole project. There will be one authentication key for the project, not multiple ones (for various user roles, for example).

Implement support for submitting th

[2017-10-31 18:56] aweigold commented on #41
Running the code, I am getting an NPE, but not from the getRelatedArticles() line, but while the SDK is recursively adding relatedArticles to children.  I can work on a fix.

[2017-10-31 19:09] aweigold commented on #41
Thanks for finding the issue @Enngage .  As I mentioned, this wasn't an issue with the StronglyTyped modular content, but an NPE when nesting the same type of modular content recursively.  I committed a fix, if you would like to use it, it's in the SNAPSHOT build, which you can use in the following fashion:
[code]

[2017-10-31 19:09] #41 closed

[2017-10-31 19:22] aweigold commented on #43
Created a PR (https://github.com/Kentico/delivery-sdk-java/pull/44) that can be merged in after release of the feature.

[2017-11-29 09:54] aweigold opened #45 "Add support for recursively resolving inline modular content"
Currently both the InlineContentItemsResolvers and TemplateEngineInlineContentItemsResolvers run a single pass through rich text.  Under certain scenarios, a resolver may provide in it's resolution an object element that would further need resolution.

An example would be, if the content type being resolved itself has a rich text element with modular content.  The default Thymeleaf template suppor

[2017-11-30 00:17] JoePipp opened #46 "Add methods to DeliveryParamBuilder to take collections"
Right now filterIn, filterAny, filterAll, and projection all take varargs for values. It would be helpful if they also took Collections.

[2017-12-05 03:34] aweigold commented on #43
So it's not forgotten, I merged this in.  I'm going to close this issue.

[2017-12-05 03:34] #43 closed

[2017-12-05 06:48] aweigold commented on #45
Completed with https://github.com/Kentico/delivery-sdk-java/pull/47

[2017-12-05 06:48] #45 closed

[2017-12-10 15:33] aweigold opened #48 "When querying getItem or getItems with a strongly typed class, automatically add a query filter for system type"
When querying getItem or getItems with a strongly typed class, automatically add a query filter for system type.

[2017-12-18 23:17] bitskeptic-tc opened #49 "Using inline content items that contain dollar signs will cause java.util.regex.Matcher to throw java.lang.IndexOutOfBoundsException: No group #"
The matcher.appendReplacement method on line 202 of com.kenticocloud.delivery.RichTextElementConverter that places inline content item html inside parent content item html will interpret dollar signs (and their trailing numbers) as capturing groups in the matcher's pattern. If the interpreted capturing group does not exist in the Matcher object, java.lang.IndexOutOfBoundsException: No group # is t

[2017-12-19 00:52] aweigold commented on #49
Good find @bitskeptic-tc !

I'll work with you on getting a PR done for this, could we add a unit test to cover the scenario?

[2017-12-19 23:17] aweigold commented on #49
PR is squashed and merged.  Closing this issue.

[2017-12-19 23:17] #49 closed

[2017-12-19 23:22] aweigold commented on #35
Per internal conversations... we are going to be abandoning the effort to make this API android compatible in lieu of a separate library that has been developed.  Closing this issue.

[2017-12-19 23:22] #35 closed

[2018-01-02 17:12] aweigold opened #51 "Link resolver is not run on recursive inline content"
Run the link resolver if it's not null on RichTextElements when resolved recursively.

[2018-01-02 21:15] #51 closed

[2018-01-05 16:31] petrsvihlik opened #52 "SDK tracking header"
**Motivation:**
We'd like to start sending a header for identifying SDKs + their versions with each request from all SDKs. The header would be then tracked by App Insights and should provide us with information valuable for multiple departments in Kentico. App Insights already gather information about the user agent, but that is not always usable or present (there are some screenshots below).

In

[2018-01-10 17:04] aweigold commented on #48
These seems to be a major performance issue at times when this is missing depending on your projections, and I've even see 503 responses from Kentico without.

[2018-01-14 17:14] adityasrini commented on #52
Would love to contribute if there aren’t folks ready working on this.

[2018-01-15 11:36] petrsvihlik commented on #52
hi @adityasrini, thanks for your interest! let's wait for what @aweigold has to say to this.

hey @aweigold, have you already started working on this one? If not, could you perhaps guide @adityasrini through the process? Thank you!

[2018-02-05 20:40] aweigold commented on #52
Hi @petrsvihlik and @adityasrini , sorry, I didn't see the interest commented here... I had already had this work complete.

[2018-02-05 20:43] #52 closed

[2018-02-05 20:47] aweigold opened #53 "Implement optional retry logic for CDN failures"
@petrsvihlik I'll implement this as we discussed, but if you have any requirements around this, feel free to comment on this issue.

[2018-02-06 00:15] aweigold commented on #48
PR here: https://github.com/Kentico/delivery-sdk-java/pull/55

[2018-02-06 07:41] petrsvihlik commented on #53
@JanLenoch is currently researching the best approach for the retry policy in the .NET SDK. I'll ask him to do the review of your PR. (we may take over your implementation for the .NET SDK if it aligns with what @JanLenoch will come up with).

[2018-02-06 08:42] #46 closed

[2018-02-06 16:45] #53 closed

[2018-02-06 16:45] #48 closed

[2018-02-22 15:22] MartinaFarkasova opened #58 "Missing Secure access support in the Readme"
I would like to address that we support secure access in our feature matrix on DevHub:
https://developer.kenticocloud.com/v1/docs/delivery-sdks

Please add this information to the Readme file.

[2018-04-01 09:48] aweigold opened #59 "Page.nextPage() fails with NPE"
The `DeliveryClient` does not set the `stronglyTypedContentItemConverter` on the `ContentItemsListingResponse` on calls to `getPageOfItems` and `getNextPage` causing the constructor of the new `Page` to throw an NPE when it invokes to `response.castTo(tClass)`.

[2018-04-12 13:52] petrsvihlik opened #60 "Missing documentation on Rich Text Rendering"
### Motivation

Rendering of rich text elements is a significantly more complex process than that of the ordinary plan text elements. Also, it can be approached in two distinct ways--by writing imperative code to render the rich text content, or by using a templating engine of some sort. One might not grasp the pros and cons of those two approaches at first.

### Guidelines

Document how to render

[2018-04-19 23:54] Krishan-Sharma commented on #59
Hi,

Looking to contribute to this project. Can someone please assign this issue to me?

Thanks,
Krishan

[2018-04-20 08:15] petrsvihlik commented on #59
Hi @Krishan-Sharma, we appreciate that! Please accept the collaborator invitation I've just sent you and I'll be able to assign the issue to you :)

[2018-04-21 00:03] Krishan-Sharma commented on #59
Thanks, @petrsvihlik. I have accepted the invitation. I am contributing to OSS for the first time. Would there be some documentation other than the code of conduct that I can follow for contributing to this project and if yes, can you please help me with that?

Thanks,
Krishan

[2018-06-20 15:39] petrsvihlik opened #61 "Add support for image optimization"
We need to get up to speed with the [.NET SDK](https://github.com/Kentico/delivery-sdk-net/pull/113) regarding image optimization.

Here's the code: https://github.com/Kentico/delivery-sdk-net/pull/113/files

## Example
*Scale*
[image.jpg?mode=scale&width=300](http://res.cloudinary.com/dnbkywmu4/image/upload/c_scale,w_300/v1510122179/cafe04_r8ef4x.jpg)
[image.jpg?mode=scale&height=150](http://res.

[2018-07-29 01:33] aweigold commented on #58
This has been updated.  Closing issue.

[2018-07-29 01:33] #58 closed

[2018-07-29 01:33] aweigold commented on #59
This has been fixed in 2.0.0-SNAPSHOT.  Closing issue.

[2018-07-29 01:33] #59 closed

[2018-07-29 02:00] aweigold commented on #61
Looking over this API, this really can be done today in the view layer of whichever rendering engine one picks using this SDK.  Since a plethora of rendering engines are available in the Java ecosystem, this SDK was designed with an abstraction layer for rendering inline modular content.

That said, the SDK does provide an optional Thymeleaf rendering engine for inline modular content.  The SDK co

[2018-07-29 02:04] aweigold opened #62 "Add 'Kentico' dialect for Thymeleaf engine"
This Thymeleaf dialect should provide various expressions and content resolvers to simplify usage of KenticoCloud objects from within Thymeleaf.  This dialect can be registered by an application's Thymeleaf rendering engine, as well as should be registered in the inline modular content rendering engine provided with the SDK.

More information on extending Thymeleaf is available here: https://www.t

[2018-07-29 02:05] aweigold commented on #61
Dialect creation issue here: #62

[2018-07-29 02:06] aweigold commented on #60
This would be a good idea to start after #62 and #61

[2018-07-29 04:00] aweigold opened #63 "Add support for asset and email links in Rich Text element resolution"
These features were either missed or added since the initial creation of the SDK:
https://developer.kenticocloud.com/v1/reference#section-link-with-an-email-address
https://developer.kenticocloud.com/v1/reference#section-link-to-an-asset

Add functionality to support linking to asset items in `RichTextElementConverter`.

[2018-07-29 04:15] aweigold commented on #63
Also unit test and investigate if an improperly implemented `BrokenLinkResolver` by a consumer will replace links to a URL address: https://developer.kenticocloud.com/v1/reference#section-links-to-a-url-address

[2018-07-30 06:14] petrsvihlik commented on #61
Ok, thanks @aweigold. That sounds good to me :)

[2018-07-30 06:59] MartinaFarkasova commented on #58
Thanks, Adam! I updated the docs on DevHub: https://developer.kenticocloud.com/v1/docs/javaandroid#section-supported-features

[2018-07-31 14:42] pegelston opened #64 "DeliveryClient Hanging, Starving Request Thread Pool"
Hi @aweigold,

There is an intermittent issue with the DeliveryClient which causing a request thread to wait and never return. This seems to happen periodically and causes all request threads to eventually block. When this happens, the server becomes unresponsive (no threads available to service incoming requests).

No clear reproduction path has been identified yet. This seems to occur for us eve

[2018-08-05 07:01] aweigold commented on #63
When I filed this issue, didn't realize that I was linking to references to the Content Management API (not the Delivery API).  Testing the API, the e-mail and asset links will provide suitable `href`s.  The SDK also properly deals with the broken links appropriately.

[2018-08-05 09:02] aweigold commented on #64
Fixed in 2.0.1

[2018-08-05 09:02] #64 closed

[2018-08-05 09:03] aweigold commented on #63
Unit test validating `BrokenLinkResolver` on URL links added.

[2018-08-05 09:03] #63 closed

[2018-08-05 09:04] aweigold commented on #2
Closing issue, Javadoc will still need to be an ongoing effort, but it's in a state where it's a usable reference now.

[2018-08-05 09:04] #2 closed

[2018-08-26 19:17] classgraph-robot opened #65 "FastClasspathScanner is outdated -- consider porting to ClassGraph"
Your project, `Kentico/delivery-sdk-java`, depends on the outdated library FastClasspathScanner in the following source files:

* [`delivery/src/main/java/com/kenticocloud/delivery/template/TemplateEngineConfig.java`](https://github.com/Kentico/delivery-sdk-java/tree/master/delivery/src/main/java/com/kenticocloud/delivery/template/TemplateEngineConfig.java)
* [`delivery/src/main/java/com/kenticocl

[2018-09-19 18:43] rlindooren opened #67 "Non-blocking client"
### Motivation

I think it would be nice if the client could be used in a non-blocking way.
This then fits in more nicely when using a reactive framework like [Vert.X](https://vertx.io/) or [Micronaut](http://micronaut.io/).

### Proposed solution

Because it sparked my interest to see if this can be done I've put in some time to make the client non-blocking. The result of my work I will share as

[2018-09-20 08:44] JanLenoch commented on #67
Hi @rlindooren , if you're not limited to use Java 8, you might want to try the [Delivery JavaRx/AndroidRx SDK](https://github.com/Kentico/KenticoCloudDeliveryJavaRxSDK)? It is reactive, hence non-blocking. Would it work for you?

[2018-09-20 08:59] rlindooren commented on #67
Ha I didn't know that existed :-). What do you mean with not being limited to Java 8?

I've taken a quick look at the source code. At first glance it looks to be a blocking implementation: https://github.com/Kentico/KenticoCloudDeliveryJavaRxSDK/blob/master/delivery-rx/src/main/java/com/kenticocloud/delivery_rx/Java2RxAdapter.java#L53
But I could be wrong.

[2018-09-20 16:15] aweigold commented on #67
I left a couple (minor) notes on #68 .  One item of note on this that bears discussion, I'm in the process of implementing spring-starter libraries for this SDK as well right now.  One of the features of it was to autoconfigure spans for opentracing if spring-sleuth is on the classpath.  Any thoughts on some configuration that can be done for the async client so we can jump threading contexts?  He

[2018-09-20 18:09] rlindooren commented on #67
Tracing asynchronous applications is indeed challenging.
I don't have any experience with Sleuth. But I have implemented tracing using [OpenCensus](https://opencensus.io/) together with Hystrix before. Making use of the
 `HystrixConcurrencyStrategy`, that you also listed, to allow synchronization between threads.
So I think you're on the right path. I am curious however how tracing could best be i

[2018-09-27 16:04] petrsvihlik opened #69 "Rename modular content to linked items"
Based on our vision regarding content items, we have to rename "Modular content element" to "Linked items element". From the Delivery SDK's point of view, it means that we are going to rename everything that contains "modularContent" to "linkedItems".

Checklist:
- [ ] updated all members (methods/properties/classes/...)
- [ ] updated .MD files
- [ ] updated tests
- [ ] updated github wiki

Keep i

[2018-10-01 15:24] petrsvihlik opened #71 "Added support for content components"
### Motivation

The goal is to add support for content components (non-reusable content).
From the SDKs point of view, the components behave the same as regular content items. However, they are supported only in the rich-text elements.

`<object type="application/kenticocloud" data-type="component" data-codename="n55afed3a_b4a3_018a_8744_3b06301b1f88"></object>`

The only difference is that the va

[2018-10-01 18:29] kcnklub commented on #69
So this is just a simple refactor of a class?

[2018-10-01 18:37] shawnrc commented on #69
There's a number of classes and docstrings that mention modular content as well. In [certain docstrings](https://github.com/Kentico/delivery-sdk-java/blob/fc1b25f5e6df9861f1de5abaf9d7a60f7673466f/delivery/src/main/java/com/kenticocloud/delivery/ContentItemResponse.java#L68) there are links to reference docs that explicitly mention "modular content" - is this also going to be renamed to linked item

[2018-10-02 15:38] shawnrc commented on #69
@petrpyszko Makes sense - can I just assume links like `https://developer.kenticocloud.com/v1/reference#modular-content` will get transposed to `https://developer.kenticocloud.com/v2/reference#linked-items` to reflect the major version number increase and name change?

[2018-10-02 15:41] petrsvihlik commented on #69
@shawnrc  yes

[2018-10-02 17:06] shawnrc commented on #69
Howdy! PR #72 Should take care of all the code mentions of modular content, we'd just need to update the wiki afterward.

[2018-10-03 06:54] #69 closed

[2018-10-03 07:00] aweigold commented on #71
I haven't seen this feature get announced yet.  Should prove useful to cleaning up many things in our projects!

[2018-10-03 07:07] petrsvihlik commented on #71
It should get released approx. on the 18th. (shh :)). A part of the release will be also the renaming from modular content to linked items.

If you could schedule a release of a new version of the Java SDK for something around that date, it'd be great. It's gonna be a major version release due to the breaking changes caused by the renaming.

[2018-10-03 07:09] aweigold commented on #71
Sounds like a good idea.  I was thinking of doing another major version release anyways with some work I have adding spring autoconfigure/starter support, so the timing makes a ton of sense.

[2018-10-03 07:10] petrsvihlik commented on #71
ok, cool 👍

[2018-10-08 22:53] petrsvihlik commented on #71
Not needed anymore. The changes in the API will be backward compatible after all.

[2018-10-08 22:53] #71 closed

[2018-10-12 19:10] aweigold opened #73 "Update to inline modular content object tags breaks Java SDK"
### Brief bug description

What went wrong?
The following attribute is now being added to the object element:
`data-rel`

This mismatches the regex matcher in the inline modular content resolver, as it matches on:
`"<object type=\"application/kenticocloud\" data-type=\"(?<type>[^\"]+)\" data-codename=\"(?<codename>[^\"]+)\"></object>"`

### Repro steps

1. Update an existing content item's modular

[2018-10-12 19:12] aweigold commented on #73
@petrsvihlik this is high priority.  This is affecting our production sites.  The SDK should have a regex that is more forgiving.  I can work on that.  I am not finding the new attribute anywhere on https://developer.kenticocloud.com/v1/reference

I'll be reaching out to Kentico support as well about this change.

[2018-10-12 22:04] aweigold commented on #73
I've merged in the change to complete a release.  Keeping this issue open for @petrsvihlik and @JanLenoch to review the issue.

[2018-10-12 22:06] aweigold commented on #73
Per Kentico support, a developer there has released a fix as well, until this goes out.

[2018-10-14 00:55] #73 closed

[2018-10-14 02:36] #65 closed

[2018-10-23 04:11] rjseymour66 commented on #60
I am a professional technical writer - do you still need help with these docs?  If so, I would be more than happy to help!

[2018-10-23 04:14] aweigold commented on #60
@rjseymour66  Definitely would love the help!

I am going through the process right now of some big changes for the next major version release.  Might make most sense to work on documentation when that is complete or near complete.  Care if I reach out to you then?

[2018-10-24 01:34] rjseymour66 commented on #60
Absolutely - do you have any sort of timeframe?

[2018-10-24 01:36] aweigold commented on #60
Within the next month.

[2018-10-24 01:41] rjseymour66 commented on #60
Sounds good - I'll keep my eyes peeled.

[2018-10-25 20:36] Jmathieu3289 opened #76 "Adhere to linked items order when using multiple content types"
### Motivation

When multiple content types are available within a linked items section of a model, the SDK does not maintain the order of the content in Kentico, but rather does an initial ordering by content type. This is due to how the `StronglyTypedContentItemConverter` works, treating referenced linked items as a map rather than a list.

[code]

### Proposed solution

It would be nice to have

[2018-10-26 13:44] aweigold commented on #76
FYI, if this is grabbed for hacktoberfest, please perform a PR against the [release/2.0 branch](https://github.com/Kentico/delivery-sdk-java/tree/release/2.0) if prior to our 3.0 release.

[2019-01-03 13:55] makma opened #77 "Custom element support"
### Motivation

In the upcoming days/weeks there will be new element type (custom element) in the Delivery output.
This will cause the failure of model binding since it's not included in the known type ids.
`known type ids = [Element, asset, date_time, modular_content, multiple_choice, number, rich_text, taxonomy, text, url_slug]`

`com.fasterxml.jackson.databind.exc.InvalidTypeIdException: Could

[2019-01-09 12:42] makma commented on #77
Note: We have an estimated time of releasing this feature in the fourteen days. Do you @aweigold  think you'll be able to introduce fix (feature) or should we look for other resources? Thank you!

[2019-01-09 12:47] aweigold commented on #77
I'll take a look over this weekend.  I assume the changing API is documented somewhere?

[2019-01-14 09:43] makma commented on #77
Hi Adam, one of our teams is still finalizing the design of the API moreover, I'll let you know as soon as the final decision is made. Thank you!

[2019-01-14 09:47] aweigold commented on #77
@makma I'm a bit concerned.  If this is a breaking API change, to be released in less than 2 weeks, and the API isn't documented, won't all consumers immediately be affected with outages?  Even with an update turned around in that time, ensuring all consumers update their dependencies in time seems risky to me.

[2019-01-14 09:53] aweigold commented on #77
@makma Can you attach some sample responses?  We can mitigate by configuring Jackson to not fail on unknown properties until the specification is documented.

Pinging @petrsvihlik @JanLenoch

[2019-01-14 10:00] aweigold opened #78 "Update Jackson configuration to ignore unknown fields"
### Motivation

Issues like #77 and #73 are demonstrating that strict validation of responses in deserialization is problematic and can cause breaking changes for consumers.

### Proposed solution

Configure the Jackson ObjectMapper to not fail on unknown properties and types.

### Additional context

The `ObjectMapper` has a `configure` method which can be leveraged to adjust features of Jackson'

[2019-01-14 10:02] aweigold commented on #78
Unit tests should also be included to prove deserialization with both unknown types and unknown properties.

[2019-01-14 15:30] makma commented on #77
Hi @aweigold ,
we will release 'Custom elements' as a beta feature and one will have to enable this feature explicitly in the Kentico Cloud UI (probably in Content models). Before enabling the feature, the user will be informed with all the consequences. The important thing is, the output of the Delivery API won't be affected until it's explicitly enabled by the user - this means the output of the

[2019-01-14 15:33] aweigold commented on #77
Sounds excellent.

[2019-02-01 15:38] petrsvihlik commented on #77
More context:
- https://developer.kenticocloud.com/reference#custom-elements-api
- https://developer.kenticocloud.com/docs/integrating-content-editing-features

[2019-04-23 16:12] aweigold commented on #78
This is completed in the 2.0 branch... needs to be merged into master.

[2019-05-15 12:50] SmootherSpike opened #81 "UnknownHostException when behind a proxy"
### Brief bug description

I am trying to make a call with the DeliveryClient, but because i am behind a company proxy i am not able to reach the kentico cloud

### Repro steps

1. Be behind a company proxy
2. Execute the DeliveryClient.getItems method
3. See this error

`Caused` by: java.net.UnknownHostException: preview-deliver.kenticocloud.com
	at java.base/java.net.InetAddress$CachedAddresses.

[2019-05-24 07:49] MrJINXIN commented on #78
hello,
I had the same problem.Please, how do I write the Jackson configuration file for the ignore attribute

[2019-05-24 19:22] aweigold commented on #78
Hi @MrJINXIN .  This was fixed with the 2.0.3 release of the SDK.

[2019-07-19 11:29] Simply007 opened #82 "Missing declaration of the dimensions in Asset model"
### Brief bug description

Based on the [StackOverflow issue](https://stackoverflow.com/questions/57041685/com-fasterxml-jackson-databind-exc-unrecognizedpropertyexception-in-kentico-clou/57045406).

Probably related to #78

### Repro steps

When loading the item using i.e.:
[code]

the error is raised

[code]

### Expected behavior

No error should be raised.

### Additional context

It is probab

[2019-09-10 08:47] alesk-kentico opened #83 "Detect stale content"
### Motivation

To improve response times Delivery API might provide stale content. Stale means that there is a more recent version, but it will become available later. This information is important for developers who implement caching because stale content should have a short TTL. Developers can inspect the value of the **X-Stale-Content** response header. **1** indicates that content is stale. I

[2019-09-24 08:28] sutrkiller opened #84 "Add support for items-feed endpoint"
### Motivation

Allow developers to fetch all content item variants from the new `items-feed` endpoint.  This offers developers a way to export an entire project no matter the size.

### Proposed solution

The content is size is not limited but it is provided in small chunks together with a continuation token for the next chunk. Paging and depth are not supported and modular content contains only

[2019-09-25 06:26] sutrkiller opened #85 "Improve retry policy for requests"
### Motivation

Prepare SDK for the future changes in Delivery API.

### Proposed solution

The retry policy for requests has to handle the following conditions:
- 408 Request Timeout
- 429 Too many requests
- 500 Internal Server Error
- 502 Bad Gateway
- 503 Service Unavailable
- 504 Gateway Timeout
- ConnectFailure
- ConnectionClosed
- KeepAliveFailure
- NameResolutionFilure
- ReceiveFailure
- S

[2019-09-25 14:57] petrsvihlik opened #86 "Rebranding to Kentico Kontent"
Hi @aweigold !
We've just renamed Kentico Cloud to [Kentico Kontent](https://kontent.ai/blog/moving-to-caas-with-kentico-kontent). We are in the process of renaming all SDKs, developer tools, and sample apps. Please consider renaming your project (code: namespaces, classes; repo, wiki, GH topics, etc.) to Kentico Kontent. See the guidelines at https://gitter.im/Kentico/Kontent?at=5d8b643d692d464f7

[2019-09-30 23:09] #78 closed

[2019-10-01 00:17] aweigold commented on #86
This should largely be done.  Remaining issue is to reach out to sonatype to allow publishing to `kentico.kontent` instead of `com.kenticocloud` in the Maven central snapshot and release repositories.

This can usually be done via their Jira system, but would probably be streamlined if someone working from Kentico can perform it.

They may not allow `kentico.kontent`, in which case, I would recomm

[2019-10-01 00:29] aweigold commented on #85
The current implementation performs a binary exponential backoff:
https://github.com/Kentico/delivery-sdk-java/blob/1d4e94f8a6cabc6cb4275e370700b9db98b1c278/delivery/src/main/java/kentico/kontent/delivery/AsyncDeliveryClient.java#L507

Where counter is based on the number of attempts.  The max number of retry attempts is configurable and defaults to 3.

This certainly could be updated to using a r

[2019-10-01 00:32] aweigold commented on #82
The error should be resolved by the merge of #78 .  Keeping this open to update the model.

[2019-10-01 01:00] #81 closed

[2019-10-01 01:03] aweigold commented on #81
@SmootherSpike sorry for the delay on this one.  The main cause for the delay was due to the master branch swapping out apache httpcomponents for org.asynchttpclient from another PR.

I've exposed setting that library's `ProxyServer` via `DeliveryOptions`, which will be available in the upcoming 3.0.0 release.

Note, this isn't tested.  Please reach out if it does not work as desired.

[2019-10-01 01:08] aweigold commented on #86
FYI, I did confirm before renaming that the CI was functioning and publishing successfully to Maven Central's snapshot repository: https://oss.sonatype.org/content/repositories/snapshots/com/kenticocloud/delivery/3.0.0-SNAPSHOT/

[2019-10-01 14:03] petrsvihlik commented on #86
I created a request at https://issues.sonatype.org/browse/OSSRH-52022 and I'm reassigning this task to @Simply007 as I'll be off for the whole of October.
Please coordinate the rebranding and the release of the new version with him.
Thank you!

[2019-10-06 16:32] petrsvihlik commented on #86
https://issues.sonatype.org/browse/OSSRH-52104

[2019-10-08 10:04] Simply007 commented on #86
Hello @aweigold,

petrs (@petrsvihlik) should be already granted by `com.github.kentico` (https://issues.sonatype.org/browse/OSSRH-52104).

If you have anything to discuss, feel free to content me here on you use Gitter: https://gitter.om/Simply007

Is there anything I could help you with right now?

[2019-10-08 12:49] aweigold commented on #86
I'll work on a release tonight, and update here.

[2019-10-09 11:55] aweigold commented on #86
Update:

I tried publishing to the new group name via travis (https://travis-ci.org/Kentico/kontent-delivery-sdk-java/builds/595577983), and my user (`aweigold`) did not have deploy privileges.  I commented on the sonatype ticket (https://issues.sonatype.org/browse/OSSRH-52104).

[2019-10-09 17:03] Simply007 commented on #86
Thank for info
OK, I have subscribed to the ticket updates. If they want to authenticate you again by creating some repo, I could do it for you.

[2019-10-11 07:39] Simply007 commented on #86
Now you should be able to publish the package.

[2019-10-11 14:03] aweigold commented on #86
I attempted to publish yesterday morning, but due to issues with oss.sonatype.org being overloaded and timing out, I had to delay it.  I'll make another attempt tonight.

[2019-10-11 14:18] Simply007 commented on #86
All right - wish you good luck!

[2019-10-14 19:26] aweigold commented on #86
Released on central.  I'll look in a few hours to validate it's propagating, and close.

[2019-10-14 20:25] aweigold commented on #86
Looks like it's released:
https://repo.maven.apache.org/maven2/com/github/kentico/delivery/3.0.0/

[2019-10-14 21:02] Simply007 commented on #86
Great @aweigold!

I have just one question about `artifactId`. You have set it as `delivery`. Wouldn't be better to set it to `kontent-delivery` to have the package identification like that: `com.github.kentico:kontent-delivery:3.0.0`?
I don't know if `artifactId` should be bound to the package namespace (`kentico.kontent.delivery`), but it feels better from my point of view to have them somehow s

[2019-10-15 13:34] aweigold commented on #86
As far as renaming `delivery` to `kontent-delivery`, that is no problem.  I can make a commit and do a new release.

As far as the package `groupId`, that is bound to what we have rights to deploy to on Maven Central.  Sonatype requires this to be a domain controlled by the organization.  Hence why it's `com.github.kentico`.  If desired, this could be `ai.kontent` if the domain is validated, but t

[2019-10-17 03:49] Simply007 commented on #86
OK let's leave the namespaces as they are and set the `groupId` to `kontent-delivery`.

Thank you so much @aweigold!

[2019-10-21 10:23] sutrkiller commented on #85
I updated the description of the issue. The main motivation is to prepare SDKs for a rate limitation that is planned in Delivery API. Therefore, retry policy (regardless the implementation) needs to handle the mentioned status codes and respect "Retry-After" header for 429 and 503.

[2019-10-22 00:39] Simply007 opened #89 "Migrate CI to https://travis-ci.com"
### Motivation

@kentico organization is migrating all of the repositories under the https://travis-ci.com/ from (https://travis-ci.org).

Context:
https://docs.travis-ci.com/user/migrate/open-source-repository-migration/
https://devops.stackexchange.com/questions/1201/whats-the-difference-between-travis-ci-org-and-travis-ci-com/4305#4305

### Proposed solution

@aweigold - I wanted to notify you

[2019-10-22 13:31] aweigold commented on #89
@Simply007  Let's move forward with it.  If there are build issues (outside of one I know about regarding CIs on PRs), I can take care of them post-migration.

[2019-10-22 22:50] Simply007 commented on #89
Migration should be done.

I have created a pull request (#90) to change the badge as well as test the CI integration.
I have also changed the protected branch rule to use the new Travis check instead of the old one.

If everything look OK for you - please merge the pull request and close the issue. And the last repo remaining would be [java generators](https://github.com/Kentico/cloud-generators-

[2019-10-24 13:38] aweigold commented on #86
@MikeSvacha the package to import is `kentico.kontent.delivery`.

See here: https://github.com/Kentico/kontent-delivery-sdk-java/blob/master/kontent-delivery/src/main/java/kentico/kontent/delivery/DeliveryClient.java

[2019-10-24 13:45] aweigold commented on #89
@Simply007 closing this issue.  I'll work on new releases for the java generators as they have to be updated over the weekend.

[2019-10-24 13:45] #89 closed

[2019-10-24 16:38] cunhazera commented on #82
I tried to push one commit to try to help, but I got an permission error.

[2019-10-29 12:53] Simply007 commented on #82
Thanks, @aweigold! Closing the issues then.

[2019-10-29 12:53] #82 closed

[2019-11-01 13:05] alesk-kentico commented on #85
Adam, thank you for your feedback. As Tobias already mentioned, the main goal is to prepare clients for changes in Delivery API that will take effect on February 1st, 2020. To do so each SDK should implement a retry policy that supports the defined range of HTTP status codes and the `Retry-After` header. SDK authors are free to choose the implementation or handle additional error conditions as the

[2019-11-18 10:28] sutrkiller opened #92 "Add support for includeTotalCount query parameter"
### Motivation

Allow users to render paging navigation for a list of content items.

### Proposed solution

When the item listing request URL includes the `includeTotalCount` query string parameter, the response contains the total number of content items matching the search criteria. As a result, the client needs only one API call to fetch all information necessary to display a list of content it

[2019-12-17 12:49] Simply007 commented on #86
According to the [API changelog](https://docs.kontent.ai/reference/api-changelog) there should be new endpoints set in the SDK.

There are still old domains for [delivery ](https://github.com/Kentico/kontent-delivery-sdk-java/blob/master/kontent-delivery/src/main/java/kentico/kontent/delivery/DeliveryOptions.java#L63) as well as [preview ](https://github.com/Kentico/kontent-delivery-sdk-java/blob/

[2020-01-06 08:10] zbynekh opened #93 "Empty content in Rich Text"
Hey community!
We are now considering some changes in handling default empty value in Rich Text element. For now the empty value returned by Kontent Delivery equals to empty paragraph (`<p><br/><p>`). How Java SDK will be affected if the empty value would be empty string? Could this be the breaking change for the SDK?

[2020-01-06 11:35] Simply007 commented on #93
@aweigold - could you take a quick look?

[2020-01-24 10:07] SmootherSpike opened #94 "Width and Height of Asset model missing"
The asset model does not provide the width and height of the image yet, which the api does provide via curl.

Please map those values correctly, we need this information to do our server side rendering correctly

[2020-01-24 10:18] SmootherSpike opened #95 "AsyncDeliveryClient should return async data"
### Motivation

When fetching data via the DeliveryClient, the call which is made via the AsyncDeliveryClient is done in a blocking behaviour, which is a strange solution for non-blocking underlying architectures.

### Proposed solution

Let the deliveryClient return a CompletionStage<ContentItemsListingResponse> but without the necessary implementation of the rxjava Maybe model, instead use the n

[2020-01-24 10:23] Simply007 commented on #94
Probably related to https://github.com/Kentico/kontent-delivery-sdk-java/issues/82

[2020-01-24 11:13] SmootherSpike commented on #94
It is written in the additional context, where the width and height is mentioned, but this has not been implemented yet

[2020-01-27 14:16] petrsvihlik commented on #86
There are still some occurrences of "Kentico Cloud" in the code: https://github.com/Kentico/kontent-delivery-sdk-java/search?q=cloud&unscoped_q=cloud

[2020-01-27 14:20] petrsvihlik commented on #94
Thanks for reporting this @SmootherSpike !

There is an open PR with the change: #91

We'll try to merge & close it soon!

[2020-01-28 13:48] petrsvihlik commented on #95
Thanks for the suggestion @SmootherSpike, we'll consider it!

[2020-01-28 13:49] petrsvihlik commented on #95
Feel free to submit a pull request if you know how to fix the issue (or if you have a proposal on how to do so) :)

[2020-01-29 08:36] SmootherSpike commented on #94
I have created an own pr for these changes, since i can not resolve the conflicts in the existing branch, because i can not push in this repository
Please take a look, we require those fields in our implementation

[2020-01-31 05:02] #94 closed

[2020-04-09 18:33] SmootherSpike commented on #92
@petrsvihlik i added a pull request, please take a look at it

[2020-04-13 11:36] petrsvihlik commented on #92
hi @SmootherSpike, thanks for the PR! we'll try to take a look at it this week or next week. I'll discuss it with the team and will keep you informed

[2020-04-14 10:55] SmootherSpike commented on #92
Hi @petrsvihlik, thank you! Would be good to have this as soon as possible

[2020-04-16 14:28] #92 closed

[2020-04-16 15:19] Simply007 commented on #92
released in 3.2.0-SNAPSHOT

RTM is about to come!

[2020-04-17 08:20] Simply007 commented on #86
Should all be fixed.

[2020-04-17 08:20] #86 closed

[2020-04-17 08:22] Simply007 commented on #76
Should be fixed in #88
* feel free to reopen the issue if you found any issues

[2020-04-17 08:22] #76 closed

[2020-04-23 14:25] Simply007 commented on #95
Hey @SmootherSpike,

I have done some research and I have ended up with this approach in the Async delivery client to avoid using `io.reactivex` dependency. What do you think about it?

Async client (POC returns only one item's data as a string).
[code]

And the potential usage would be:

[code]

[2020-04-23 14:29] Simply007 commented on #95
Would you expect that the `CompletionsStage` would be returned from `DeliveryClient` or `AsyncDeliveryClient`?

If `DeliveryClient` - do you think it is OK to remove AsyncDeliveryClient and let user to use:
[code]
for blocking calls?

[2020-07-03 08:42] b000za opened #104 "Link resolving of deeply nested content items"
### What went wrong?

Problem with resolving links in deeply nested content items. Imagine following situation:

Content item which has linked another content item and this item has as well linked another content item. In the last content item is a rich text where a text or word is linked to a content item (see screenshot).

<img width="730" alt="Screenshot_1" src="https://user-images.githubuserco

[2020-07-04 09:22] petrsvihlik commented on #104
Hi @b000za ,
thanks for reporting the issue. We'll investigate it. If you have any code that you could share that could help us reproduce the issue, that would be really helpful and would speed up the resolution.

[2020-07-08 14:03] Simply007 commented on #95
Beta od the delivery client is here:
* https://github.com/Simply007/kontent-java-monorepo/

Coverage report of the current status:
* http://kontent-delivery-java-monorepo-poc-coverage.surge.sh/

Jar files are being published here for now:
* https://bintray.com/simply007/kontent-java-monorepo/kontent-delivery#files

[2020-07-08 14:04] Simply007 commented on #95
Agreed that this is OK

Maybe test out `java.net.http.HttpClient` instead OkHttpClient

[2020-08-24 12:11] huluvu21 opened #106 "Add support for new filtering operators"
### Motivation

The reason for new filtering operators is to give the users of our API better tools for getting just the content they need.

### Proposed solution

Add the new filtering operators mentioned in the [Kentico Kontent product changelog](https://docs.kontent.ai/changelog/product-changelog#a-new-filtering-operators-for-delivery-api).

### Additional context

You may look at the implement

[2020-09-01 13:45] b000za commented on #104
Hey @petrsvihlik, is there any update on this issue?

[2020-09-01 17:07] Simply007 commented on #104
Hello @b000za ,

I will try to reproduce the issue, but I have a couple of questions:

_What version of the SDK you are using?_
   * Could you try to test out beta version of the SKD ([monorepo-merge branch](https://github.com/Kentico/kontent-java-packages/tree/monorepo-merge)) - the beta is on JCenter - https://bintray.com/kentico/kontent-java-packages/kontent-delivery/4.0.0-beta.6

_Could you sp

[2020-09-18 17:07] Jmathieu3289 opened #109 "Add synchronous support to the DeliveryClient"
### Motivation

After updating a large application to the latest version of the Java SDK, all calls to the DeliveryClient had to wrapped in a synchronous wrapper. It would be helpful if there were a built-in way to call the DeliveryClient synchronously rather than introducing additional code to the project.

### Proposed solution

Add alternate methods for working with the DeliveryClient synchrono

[2020-09-24 11:35] b000za commented on #104
@Simply007

Hey, sorry for the late response. We recently switched to version 4.0.0-beta.6 and it seems that it works now! :)

thx

[2020-09-24 11:43] Simply007 commented on #104
I have just released v4 https://github.com/Kentico/kontent-java-packages/releases/tag/4.0.0, there should be no difference in comparison with 4.0.0-beta.6, so feel free to make an upgrade.

Thanks for the notification @b000za.
I will close this issue for now.

[2020-09-24 11:43] #104 closed

[2020-09-29 08:33] Simply007 commented on #95
Fixed in https://github.com/Kentico/kontent-java-packages/releases/tag/4.0.0

[2020-09-29 08:34] #95 closed

[2020-09-29 08:37] Simply007 commented on #93
I would recommend adding a test to [DeliveryClientTest.java](https://github.com/Kentico/kontent-java-packages/blob/master/kontent-delivery/src/test/java/kentico/kontent/delivery/DeliveryClientTest.java) witch mocked empty rich text element as was done i.e. in PHP Kontent delivery SDK: https://github.com/Kentico/kontent-delivery-sdk-php/pull/88

[2020-09-29 09:11] Simply007 opened #110 "Default fallback inline resolver"
### Motivation

Currently, if you want to have an inline resolver for rich text elements, it is required to register it for all content models. It would be great to have some approach to reduce this necessity.

### Proposed solution

Allow defining a default inline rich text resolver as a fallback when no other resolver is used.

### Additional context

Proposal #108

[2020-10-01 14:54] cunhazera commented on #109
@Jmathieu3289 can you assign to me?

[2020-10-02 09:13] Simply007 commented on #109
@cunhazera -  it is yours.

Please keep in mind to update the documentation and ideally add a test for the functionality.

I am still thinking, what is the best approach for the SDK to allow custom logging logic in case of failure so that this `toSync` method does not have the logging hardcoded via system error output.

what do you thin @Jmathieu3289?

[2020-10-02 14:51] #93 closed

[2020-10-05 04:56] cunhazera commented on #109
@Simply007 here is the PR: https://github.com/Kentico/kontent-java-packages/pull/112

Do you know why this repo is invalid for hacktoberfest?

[2020-10-06 07:31] Simply007 commented on #109
@cunhazera,

you could check the reason on your profile on https://hacktoberfest.digitalocean.com/profile.

There have been a bunch of anti-spam initiatives this year.

I will comment on implementation in the pull request.

[2020-10-06 12:29] cunhazera commented on #109
@Simply007 I think you need to add the "hacktoberfest" topic.
![image](https://user-images.githubusercontent.com/8171351/95201467-5f585980-07b6-11eb-885b-cbba0074d324.png)

Thanks for the review, I'll check it out

[2020-10-06 12:47] Simply007 commented on #109
Added "hacktoberfest" topic.

[2020-10-22 09:52] Simply007 opened #115 "Tracking header does not contain proper package info"
### Brief bug description

Related to #52

SDK is loading old data for the tracking header.

Value should be `jCenter;com.github.kentico:kontent-delivery;4.1.0`, or any other version in the last part.

### Repro steps

Send the request and intercept the request headers, the `X-KC-SDKID`'s value contain `localBuild;com.github.kentico:delivery;0.0.0`.

Run test `testSdkIdHeader` to easy debugging.

[2020-11-06 16:32] #115 closed

[2020-11-16 19:09] ivanaliptakova opened #120 "Add collection property to item system attributes"
### Motivation

The deliver will soon support sending collection information within the item.system property.
Feature release ETA: 25.11

### Proposed solution

See .Net SDK solution [here](https://github.com/Kentico/kontent-delivery-sdk-net/pull/244/files).

### Additional context
Example of system property with collection:
[code]
Type of collection system property: `string`
Collection property i

[2020-11-26 08:48] #77 closed

[2020-12-11 18:05] Simply007 commented on #110
I might find another solution for this. It is possible to extend the TemplateConfig if not previous resolvers find an appropriate resolution.

I have created a showcase for that in the Springboot application:
https://github.com/Kentico/kontent-java-packages/blob/default-inline-richtext-resolver/sample-app-spring-boot/src/main/java/kentico/kontent/delivery/sample/dancinggoat/springboot/KontentConfi

[2021-01-05 15:07] Simply007 opened #125 "Structured rich text element mapping"
### Motivation

Allow Delivery SDK to work with [Structured rich text element](https://github.com/Kentico/kontent-generators-net#parameters).

### Proposed solution

* Allow model generators to generate rich text elements differently than just a string.
* Fill the structured rich text element model while mapping the data ([.NET implementation example](https://github.com/Kentico/kontent-delivery-sd

[2021-01-05 16:09] Simply007 commented on #110
Default resolver for template engine covered in https://github.com/Kentico/kontent-java-packages/wiki/Rich-text-resolution#completely-custom-template-configuration-ie-default-fallback-rich-text-element-resolver

[2021-01-05 16:09] #110 closed

[2021-01-05 16:12] Simply007 commented on #60
The string-based resolution is described here: https://github.com/Kentico/kontent-java-packages/wiki/Rich-text-resolution#completely-custom-template-configuration-ie-default-fallback-rich-text-element-resolver

The strongly-typed resolution/mapping part will be covered in #125

[2021-01-05 16:12] #60 closed

[2021-01-06 15:44] #120 closed

[2021-01-06 15:58] #106 closed

[2021-01-13 15:33] Sevitas opened #126 "Add languages to SDK"
### Motivation

Feature is required thus, no method providing project languages is present. User can now get all his project languages.

### Proposed solution

Introduce a method providing all project languages

### Additional context

Should be released 01.25.2021
endpoint-{deliveryApi}/{projectId}/languages

`{
  "languages": [
    {
      "system": {
        "id": "00000000-0000-0000-0000-00000

[2021-01-22 14:49] D-Fox opened #128 "Nested support for Custom Models"
### Motivation

I want to fetch my model `A` class using `client.getItems(A.class, params)`. The problem is that conversion for custom types is not working deeper in hierarchy.

[code]

Class `A` will contain list of `B` classes, but inside this class `List<C> cList` will be mapped to empty list (String name inside `B` class is ok).

If i fetch class `B` direcly using `client.getItems(B.class, par

[2021-01-28 10:02] Simply007 commented on #128
Hello @D-Fox.

Thanks for the issue. I will take a look at it and create a test for that to verify if I get the problem right.

There might be a problem when a circular reference is modeled in Kontent.

Would it be OK for you to just extend the possibility to specify how many levels should the mapping works? It should prevent an infinite loop for circular reference (I might find another solution w

[2021-01-28 13:05] D-Fox commented on #128
Thanks for the reply. Parameter similar to the `linkedItemsDepth` will be sufficient.

[2021-02-04 07:29] connyduck opened #130 "Publish on Maven Central"
Please publish the libraries on Maven Central or another repository that is not JCenter.
JCenter is being shut down and will stop working on May 1st 2021.
https://jfrog.com/blog/into-the-sunset-bintray-jcenter-gocenter-and-chartcenter/

[2021-02-08 10:31] Simply007 commented on #128
Hello @D-Fox, I have created a test for your situation in #129. Does the test fit the situation you are describing?

I have also drafted an enhancement in the linked pull request (hence the test is passing). But it is a change in the SDK's core and it would require a longer time to put to production to ensure we don't make any breaking changes for current users of the SDKs.

[2021-02-08 12:09] Simply007 commented on #130
Hello @connyduck,

thanks for the heads-up! That is really sudden...

I have looked around the alternative services and I have found these that might be sufficient to use:
* https://jfrog.com/artifactory
* https://jitpack.io

Could you comment on these above or any other service you would recommend to migrate to?

[2021-02-08 12:11] Simply007 commented on #130
+ If you have any resource that would help with the migration please share it here as well.

[2021-02-15 13:56] Simply007 commented on #130
Notes:
* https://jeroenmols.com/blog/2021/02/04/migratingjcenter/
* https://central.sonatype.org/pages/gradle.html

[2021-02-24 07:53] Simply007 commented on #130
Bintray blog post update:

[2021-02-24 08:36] Simply007 commented on #130
Android Plugin replacement: https://stackoverflow.com/a/66168622/3529135

[2021-02-26 07:58] Simply007 commented on #130
Hello @connyduck - I have released [v 4.4.1](https://repo1.maven.org/maven2/com/github/kentico/kontent-delivery/4.4.1/) on Maven Central.

The referenced pull request #131 will be verified by one of my colleagues but still, could you test out the new version as well? There should be no functional changes.

[2021-03-02 07:40] connyduck commented on #130
Yes, it works, 4.4.1 is downloaded from Maven Central. Thank you!

[2021-03-02 08:38] #130 closed

[2021-04-26 17:38] jbwtan1 commented on #126
👍  this feature is sorely missed from the SDK. Any indication of when this will get looked at?

[2021-04-27 12:25] jbwtan1 commented on #84
+1 this is sorely missed from the delivery SDK. any indication of when this might be looked at?

[2021-11-16 11:59] Suzii opened #133 "Add support for asset renditions"
### Motivation

New Kontent feature - Asset renditions, will be released soon (beginning of December with) and it will be available through DeliveryAPI. We should have them covered in SDKs as well.

### Proposed solution

When the asset element is retrieved from Deliver, the referenced assets can now contain user-defined renditions and it is easy for the developer to apply the rendition query stri

[2021-12-16 11:14] Suzii opened #134 "Add support for custom asset domains"
### Motivation

Customers want to use their own domains in asset links instead of the default Kontent asset URL. This way the links on their webpage will look more trustworthy, and since the custom links will be visible in search engine results, it also helps SEO optimization.
We will implement the support for custom asset domains in the Kontent app BE and Deliver, but for the whole solution to wo

[2021-12-22 13:21] danielf-kentico opened #135 "Log4shell - investigation"
### Expected result

Check if Log4shell vulnerability (CVE-2021-44228) impacts Kontent Java Packages.

### Additional context

In Apache Log4j2 versions up to and including 2.14.1 (excluding security release 2.12.2), the JNDI features used in configurations, log messages, and parameters do not protect against attacker-controlled LDAP and other JNDI related endpoints. An attacker who can control lo

[2021-12-22 13:23] danielf-kentico commented on #135
**No**. Kentico Kontent Java SDK is not impacted by Log4j vulnerability.
By investigation, we figure out that this SDK uses [slf4j](http://www.slf4j.org/) library that uses log4j under the hood. However, SKD doesn't log any user input that could lead to the exploitation of this vulnerability.

Short-term vision: The current version of SDK doesn't allow interaction with the logging engine and using

[2022-03-09 12:13] SmootherSpike commented on #133
Projects which are using the java-sdk are heavily waiting for this change to be included in the sdk. Would be great if such kind of features are immediately pushed to all of the sdks, regardless of the language, js/c#, java etc. Any plan when this will be available?

[2022-03-11 11:08] Simply007 commented on #133
Hello @SmootherSpike, thanks for reaching out. We have been currently heavily working to include new API functionality to .NET and Javascript delivery and management SDKs since .NET and JS are our primary stacks right now.

I can take a look at this one.

Do you have any thoughts on how you would use the rendition? I am asking specifically about the query parameter - do you have any plans of parsi

[2022-03-28 09:31] smithaaron opened #138 "Response Faking"
### Expected result

There's a link in the wiki to 'Faking responses for unit testing`, however there is no corresponding page. Are there any guidelines or examples available for unit testing?

### Resources
https://github.com/Kentico/kontent-java-packages/wiki

[2022-03-29 06:30] Simply007 commented on #138
Hello @smithaaron,

I will try to dig and place the wiki page back.

Until then, you could use the tests source code to mock the responses using `org.apache.http.localserver.LocalServerTestBase`:

https://github.com/Kentico/kontent-java-packages/blob/master/kontent-delivery/src/test/java/kentico/kontent/delivery/DeliveryClientTest.java#L287-L326

[code]

[2022-04-20 07:48] Simply007 commented on #138
Hello @smithaaron,

I went through the history of the wiki, but the page was never created.

I browsed the code and filled the Faking response page. I also suggested an alternative way of faking responses, which is implemented right in the client.

If you spot any problem or issue, feel free to re-open this issue.

[2022-04-20 07:48] #138 closed

[2022-09-14 07:56] connyduck opened #140 "Add nullability annotations for better Kotlin support"
### Motivation

The Kentico Delivery Client and its model are treated as platform types in Kotlin, which makes them harder to use and increases the possibility of accidental NullPointerExceptions.

### Proposed solution

All public methods have annotations on parameters and return types so that the Kotlin compiler can correctly infer their nullability and prevent unchecked use of nullable types.
T

[2022-09-16 10:29] Simply007 commented on #140
Hello @connyduck,

good to see you here again.

Currently, we are migrating to new  Kontent.ai services (in this particular case new GitHub organization and Maven package identification).

Once we finish that,  I will reach out with the proposal. Do you have a suggestion on which nullability annotation would be the best to use?

[2022-09-16 10:30] Simply007 commented on #140
One more question - what are the most important classes you wold like to see the nullability annotation first?

[2022-09-16 10:46] connyduck commented on #140
I don't really care since they all work they same for consumers. `org.jetbrains.annotations` is probably the most widely used one, and you already have it in `StronglyTypedContentItemConverter` so that is probably the logical choice.

How about starting with the `DeliveryClient` itself, then the `ContentItem` and on to the different elements and assets?

[2022-10-24 12:56] IvanKiral opened #142 "Fill missing javadocs"
### Motivation

Fill up some missing javadocs mostly in delivery SDKs
### Proposed solution

Check and add javadocs. The few which are missing are: `Asset.java`,  `DeliveryClient.java`, `RichTextElement.java`, `RichTextElementConverter.java`, `StronglyTpyedContentItemConverter.java`.

### Additional context

Add any other context, screenshots, or reference links about the feature request here.

[2022-10-28 07:50] iremugurlu commented on #142
Hey, I'm interested. Can you assign this one to me? Thanks.